.spinner{
    width: 80px;
    height: 80px;
    border: 20px solid rgba,(255, 255, 255, 0.1);
    border-top-color: blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    to {transform: rotate(360deg)}
}
